body {
    font-family: Quicksand, sans-serif !important;
}
.p-0 {
    margin: 0;
    padding: 0;
}
.relative-img {
    position: relative;
    top: -120px;
    width: 100%;
    height: 600px;
    z-index: -1;
    object-fit: cover;
}
.border-white {
    border-color: white;
}
.border-category {
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: transparent;
    padding: 10px;
}
.text-white {
    color: white;
}
.bg-black {
    background-color: black;
}
.text-green {
    color: #146A27;
    font-weight: bold;
}
.bg-green {
    background-color: #146A27 !important;
}
.btn {
    border-radius: 10px;
    padding: 10px 30px;
    font-size: medium;
}
.topnav .nav-item a.active {
    border-bottom: 2px solid white;
}
.topnav .nav-item::after {
    content: '';
    display: block;
    margin: left;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width .8s;
}
.topnav .nav-item:hover::after {
    width: 100%;
    background: white;
}
.rounded-img {
    border-radius: 5px;
}
.rounded-shadow-card {
    border-radius: 15px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.rounded-shadow-card-top {
    border-radius: 15px 15px 0 0;
}
.rounded-img-card {
    border-radius: 100px 0 0 0;
}
.pb-landing {
    padding: 0 0 150px 0;
}
.mt-landing-1 {
    margin: 30px 0 0 0;
}
.mt-landing-2 {
    margin: 250px 0 0 0;
}
.mt-landing-3 {
    margin: 350px 0 0 0;
}
.lh-xs {
    line-height: 5px
}
.ml-3 {
    margin-left: 10px;
}
.pl-1 {
    padding-left: 10px;
}
.pl-3 {
    padding-left: 20px;
}
.object-cover {
    object-fit: cover;
}
.text-justify {
    text-align: justify;
    text-justify: inter-word;
}
.text-xs {
    font-size: 10px
}
.text-sm {
    font-size: 12px
}
.rounded-full {
    border-radius: 100%;
    height: 50px;
    width: 50px;
}
.radius-left {
    border-radius: 10px 0 0 10px;
}
textarea:hover, 
textarea:active, 
textarea:focus, 
input:hover, 
input:active, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active,
.btn
{
    outline: none !important;
    -webkit-appearance:none;
    appearance:none;
    box-shadow: none !important;
    border-color: #146A27;
}
.border-green:focus {
    border-color: #146A27 !important;
}
.shadow-md {
    /* border-radius: 15px; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card-link {
    inset: 0;
    background-color: black;
    opacity: 0.5;
}
.card-link:hover {
    opacity: 0.7;
}
.z-10 {
    z-index: 10
}
.rounded-md {
    border-radius: 15px !important;
}
.img-height-car {
    max-height: 800px; object-fit: cover;
}
.mt-article-index {
    margin: 700px 0 0 0;
}
.custom-toggler {
    border-color: white !important;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbar-toggler-icon {
    font-size: 14px;
}
.logo-responsive {
    width: 40px;
    height: 40px;
}
.navbar-toggler {
    border: none !important;
	box-shadow: none !important;
}
.height-card-home {
    height: 500px;
}
.title-1 {
    font-size: 40px;
}
.title-2 {
    font-size: 60px;
}
.subtitle-1, .subtitle-1::placeholder, input {
    font-size: 14px !important;
}
.subtitle-2, .subtitle-2::placeholder, input {
    font-size: 24px !important;
}
.icon-sosmed-ig {
    padding: 5px 7px !important;
}
.icon-sosmed-fb {
    padding: 5px 8.5px !important;
}
.icon-sosmed-tw {
    padding: 5px 6px !important;
}

.img-aboutus {
    height: 500px; 
    width: 700px; 
    z-index: -1;
}
.fs-landing {
    font-size: 4em;
}
.fs-landing-3 {
    font-size: 4em;
}
.py-landing {
    padding: 100px 0;
}
.btn {
    border-radius: 10px;
    padding: 10px 30px;
    font-size: medium;
}
.ps-relative {
    position: relative;
}
.rounded-shadow-card-left {
    border-radius: 15px 0 0 15px;
}
.margin-right-1 {
    margin-right: 20px;
}
.lh-xs {
    line-height: 24px;
}
.border-left-nav {
    border-left: 1px solid white;
}
.btn-about-us {
    padding: 10px 50px !important;
}
.mt-article-index {
    margin: 400px 0 0 0;
}

/* Responsive */
@media screen and (min-width: 1184px) {
    .ps-absolute {
        position: absolute;
    }
    .padding-card {
        padding: 3em;
    }
}
@media screen and (min-width: 993px) and (max-width: 1184px) {
    .ps-absolute {
        position: unset;
    }
    .padding-card {
        padding: 3em;
    }
    .card-about-us {
        width: 600px;
        float: right;
        margin-top: 30px !important;
    }
    .img-aboutus {
        height: 600px !important; 
        width: 100% !important; 
        z-index: -1;
        position: absolute;
    }
    .ps-relative {
        position: relative;
        height: 700px;
    }
}
@media screen and (max-width: 992px) {
    .img-aboutus {
        height: 500px; 
        width: 700px; 
        z-index: -1;
    }
    .fs-landing {
        font-size: 4em;
    }
    .fs-landing-3 {
        font-size: 4em;
    }
    .py-landing {
        padding: 100px 0;
    }
    .btn {
        border-radius: 10px;
        padding: 10px 30px;
        font-size: medium;
    }
    .ps-relative {
        position: relative;
    }
    .rounded-shadow-card-left {
        border-radius: 15px 0 0 15px;
    }
    .margin-right-1 {
        margin-right: 20px;
    }
    .lh-xs {
        line-height: 24px;
    }
    .border-left-nav {
        border-left: 1px solid white;
    }
    .btn-about-us {
        padding: 10px 50px !important;
    }
    .mt-article-index {
        margin: 400px 0 0 0;
    }

    .title-1 {
        font-size: 20px;
    }
    .title-2 {
        font-size: 40px;
    }
    .subtitle-1, .subtitle-1::placeholder, input {
        font-size: 10px !important;
    }
    .subtitle-2, .subtitle-2::placeholder, input {
        font-size: 14px !important;
    }
    .input-email {
        height: 30px;
    }
    .input-email img {
        width: 20px;
        margin-bottom: 20px;
    }
    .logo-responsive {
        width: 30px;
        height: 30px;
    }
    .logo-responsive-foot {
        width: 40px;
        height: 40px;
    }
    .navbar-toggler-icon {
        font-size: 12px;
    }
    .height-card-home {
        height: 400px;
    }
    .icon-sosmed-ig {
        padding: 5px 7px !important;
    }
    .icon-sosmed-fb {
        padding: 5px 8.5px !important;
    }
    .icon-sosmed-tw {
        padding: 5px 6px !important;
    }
    .topnav .nav-item a.active {
        border-bottom: 2px solid white;
    }
    .topnav .nav-item::after {
        content: '' !important;
        display: block !important;
        margin: left !important;
        height: 2px !important;
        width: 0 !important;
        background: transparent !important;
        transition: width .8s !important;
        background-color: #fff !important;
    }
    .topnav .nav-item:hover {
        width: 100% !important;
        border-radius: 5px;
        color: black !important;
        background-color: white;
    }
    .topnav li a:hover {
        color: black !important;
    }
    .btn-about-us {
        padding: 8px 20px !important;
        font-size: 8px !important;
    }
    .fs-landing {
        font-size: 2.5em;
    }
    .fs-landing-2 {
        font-size: 1em;
    }
    .fs-landing-3 {
        font-size: 1.5em;
    }
    .py-landing {
        padding: 3em 0;
    }
    .btn {
        border-radius: 10px;
        padding: 5px 20px;
        font-size: 15px;
    }
    .hidden-responsive {
        visibility: hidden;
        position: absolute;
    }
    .bg-navbar-responsive {
        background-color: black;
        border-radius: 8px;
        padding: 0 15px 10px;
    }
    .mt-landing-2 {
        margin: 650px 0 0 0;
    }
    .lh-xs {
        line-height: 20px;
    }
    .margin-top-1 {
        margin-top: 10px;
    }
    .text-sm {
        font-size: 12px
    }
    .mt-landing-3 {
        margin: 600px 0 0 0;
    }
    .text-sm-phone {
        font-size: 14px;
    }
    .text-xs-phone {
        font-size: 12px;
    }
    .btn-about-us {
        padding: 10px 40px !important;
        font-size: 12px !important;
    }
    .img-height-car {
        height: 500px; object-fit: cover;
    }
}

@media screen and (max-width: 768px) {
    .title-1 {
        font-size: 20px;
    }
    .title-2 {
        font-size: 40px;
    }
    .subtitle-1, .subtitle-1::placeholder, input {
        font-size: 12px !important;
    }
    .subtitle-2, .subtitle-2::placeholder, input {
        font-size: 14px !important;
    }
    .input-email {
        height: 30px;
    }
    .input-email img {
        width: 20px;
        margin-bottom: 20px;
    }
    .logo-responsive {
        width: 30px;
        height: 30px;
    }
    .logo-responsive-foot {
        width: 40px;
        height: 40px;
    }
    .navbar-toggler-icon {
        font-size: 12px;
    }
    .height-card-home {
        height: 400px;
    }
    .icon-sosmed-ig {
        padding: 5px 7px !important;
    }
    .icon-sosmed-fb {
        padding: 5px 8.5px !important;
    }
    .icon-sosmed-tw {
        padding: 5px 6px !important;
    }
    .topnav .nav-item a.active {
        border-bottom: 2px solid white;
    }
    .topnav .nav-item::after {
        content: '' !important;
        display: block !important;
        margin: left !important;
        height: 2px !important;
        width: 0 !important;
        background: transparent !important;
        transition: width .8s !important;
        background-color: #fff !important;
    }
    .topnav .nav-item:hover {
        width: 100% !important;
        border-radius: 5px;
        color: black !important;
        background-color: white;
    }
    .topnav li a:hover {
        color: black !important;
    }
    .btn-about-us {
        padding: 8px 20px !important;
        font-size: 8px !important;
    }
    .fs-landing {
        font-size: 2.5em;
    }
    .fs-landing-2 {
        font-size: 1em;
    }
    .fs-landing-3 {
        font-size: 1.5em;
    }
    .py-landing {
        padding: 3em 0;
    }
    .btn {
        border-radius: 10px;
        padding: 5px 20px;
        font-size: 15px;
    }
    .hidden-responsive {
        visibility: hidden;
        position: absolute;
    }
    .bg-navbar-responsive {
        background-color: black;
        border-radius: 8px;
        padding: 0 15px 10px;
    }
    .mt-landing-2 {
        margin: 650px 0 0 0;
    }
    .lh-xs {
        line-height: 20px;
    }
    .margin-top-1 {
        margin-top: 10px;
    }
    .text-sm {
        font-size: 12px
    }
    .mt-landing-3 {
        margin: 600px 0 0 0;
    }
    .text-sm-phone {
        font-size: 14px;
    }
    .text-xs-phone {
        font-size: 12px;
    }
    .btn-about-us {
        padding: 10px 40px !important;
        font-size: 12px !important;
    }
    .img-height-car {
        height: 500px; object-fit: cover;
    }
}

@media screen and (max-width: 480px) {
    .title-1 {
        font-size: 20px;
    }
    .title-2 {
        font-size: 30px;
    }
    .subtitle-1, .subtitle-1::placeholder, input {
        font-size: 9px !important;
    }
    .subtitle-2, .subtitle-2::placeholder, input {
        font-size: 14px !important;
    }
    .input-email {
        height: 30px;
    }
    .input-email img {
        width: 20px;
        margin-bottom: 20px;
    }
    .logo-responsive {
        width: 30px;
        height: 30px;
    }
    .logo-responsive-foot {
        width: 40px;
        height: 40px;
    }
    .navbar-toggler-icon {
        font-size: 12px;
    }
    .height-card-home {
        height: 300px;
    }
    .icon-sosmed-ig {
        padding: 5px 7px !important;
    }
    .icon-sosmed-fb {
        padding: 5px 8.5px !important;
    }
    .icon-sosmed-tw {
        padding: 5px 6px !important;
    }
    .topnav .nav-item a.active {
        border-bottom: 2px solid white;
    }
    .topnav .nav-item::after {
        content: '' !important;
        display: block !important;
        margin: left !important;
        height: 2px !important;
        width: 0 !important;
        background: transparent !important;
        transition: width .8s !important;
        background-color: #fff !important;
    }
    .topnav .nav-item:hover {
        width: 100% !important;
        border-radius: 5px;
        color: black !important;
        background-color: white;
    }
    .topnav li a:hover {
        color: black !important;
    }
    .btn-about-us {
        padding: 8px 20px !important;
        font-size: 8px !important;
    }
}

/* @media screen and (max-width: 320px) {
    .title-1 {
        font-size: 10px;
    }
    .title-2 {
        font-size: 20px;
    }
    .subtitle-1, .subtitle-1::placeholder, input {
        font-size: 8px !important;
    }
    .subtitle-2, .subtitle-2::placeholder, input {
        font-size: 11px !important;
    }
    .input-email {
        height: 30px;
    }
    .input-email img {
        width: 20px;
        margin-bottom: 20px;
    }
    .logo-responsive {
        width: 30px;
        height: 30px;
    }
    .logo-responsive-foot {
        width: 40px;
        height: 40px;
    }
    .navbar-toggler-icon {
        font-size: 12px;
    }
    .height-card-home {
        height: 300px;
    }
    .icon-sosmed-ig {
        padding: 5px 7px !important;
    }
    .icon-sosmed-fb {
        padding: 5px 8.5px !important;
    }
    .icon-sosmed-tw {
        padding: 5px 6px !important;
    }
    .topnav .nav-item a.active {
        border-bottom: 2px solid white;
    }
    .topnav .nav-item::after {
        content: '' !important;
        display: block !important;
        margin: left !important;
        height: 2px !important;
        width: 0 !important;
        background: transparent !important;
        transition: width .8s !important;
        background-color: #fff !important;
    }
    .topnav .nav-item:hover {
        width: 100% !important;
        border-radius: 5px;
        color: black !important;
        background-color: white;
    }
    .topnav li a:hover {
        color: black !important;
    }
    .btn-about-us {
        padding: 8px 20px !important;
        font-size: 8px !important;
    }
    .ps-absolute {
        position: unset;
    }     
    .padding-card {
        padding: unset;
    }
} */
/* Responsive End */